In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2022-ml-midterm-p4/sample.csv
/kaggle/input/2022-ml-midterm-p4/train.csv
/kaggle/input/2022-ml-midterm-p4/test.csv

In [2]:
sample = pd.read_csv('/kaggle/input/2022-ml-midterm-p4/sample.csv')
train = pd.read_csv('/kaggle/input/2022-ml-midterm-p4/train.csv')
test = pd.read_csv('/kaggle/input/2022-ml-midterm-p4/test.csv')

In [3]:
train

,ID,company,model,year,transmission,mileage,fueltype,tax,mpg,engineSize,price
0,0,4,Auris,2015,1,47541,4,145,46.3,1.6,8095
1,1,0,X2,2018,3,5000,0,145,50.4,2.0,21726
2,2,2,Focus,2017,3,47018,4,145,51.4,1.0,10490
3,3,2,Focus,2020,1,1550,4,145,49.6,1.0,17490
4,4,0,3 Series,2017,3,23505,0,145,64.2,2.0,18995
...,...,...,...,...,...,...,...,...,...,...,...
34165,34165,0,1 Series,2017,1,39201,4,150,36.2,3.0,18480
34166,34166,2,Fiesta,2019,1,2000,4,145,58.9,1.0,16495
34167,34167,2,Fiesta,2019,1,15820,4,145,60.1,1.0,13000
34168,34168,4,Hilux,2018,1,13099,0,260,40.4,2.4,20998
34169,34169,2,Fiesta,2013,1,32638,4,30,54.3,1.2,6800

In [4]:
test

,ID,company,model,year,transmission,mileage,fueltype,tax,mpg,engineSize
0,0,2,Ka+,2017,1,10150,4,145,57.7,1.2
1,1,2,Kuga,2013,1,50216,0,145,53.3,2.0
2,2,3,Q5,2016,1,34189,0,200,47.9,2.0
3,3,1,I10,2020,1,1900,4,145,56.5,1.0
4,4,0,3 Series,2014,0,79809,0,20,68.9,2.0
...,...,...,...,...,...,...,...,...,...,...
16826,16826,2,Grand Tourneo Connect,2016,0,29000,0,125,56.6,1.5
16827,16827,4,Yaris,2019,1,2812,4,145,47.9,1.5
16828,16828,2,Kuga,2017,1,46800,0,150,54.3,2.0
16829,16829,3,A7,2017,3,14562,0,145,52.3,3.0
16830,16830,3,Q3,2014,1,79389,0,165,50.4,2.0

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

train['model'] = le.fit_transform(train['model'])
test['model'] = le.fit_transform(test['model'])

In [6]:
train_x = train.drop(['ID','price'],axis=1)
train_y = train['price']
test_x = test.drop(['ID'],axis=1)

In [7]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train_sc = sc.fit_transform(train_x)
x_test_sc = sc.transform(test_x)

In [8]:
from sklearn.neighbors import KNeighborsRegressor

neigh = KNeighborsRegressor(n_neighbors=4,p=1)
neigh.fit(x_train_sc, train_y)
y_test_pred = neigh.predict(x_test_sc)

In [9]:
sample['price']=y_test_pred
sample.to_csv('submit.csv', index=False)