In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2022-ml-w4p1/sample.csv
/kaggle/input/2022-ml-w4p1/train.csv
/kaggle/input/2022-ml-w4p1/test.csv

In [2]:
import random
import os
seed = 42
random.seed(seed)
np.random.seed(seed)
os.environ["PYTHONHASHSEED"] = str(seed)
#데이터를 읽어오기
answer = pd.read_csv('/kaggle/input/2022-ml-w4p1/sample.csv')
train = pd.read_csv('/kaggle/input/2022-ml-w4p1/train.csv')
test = pd.read_csv('/kaggle/input/2022-ml-w4p1/test.csv')

In [3]:
train

        N    P    K  temperature   humidity        ph    rainfall        label
0      22   36   16    30.581395  50.771481  8.184229   64.585596    mothbeans
1      18   27   41    22.365094  92.308824  7.175344  104.821633  pomegranate
2      61   68   50    35.214628  91.497251  6.793245  243.074507       papaya
3      26   72   22    28.767949  37.577921  4.674942   91.720849   pigeonpeas
4       2  140  197    22.697801  92.822234  5.534567  105.050823        apple
...   ...  ...  ...          ...        ...       ...         ...          ...
1645   10    5    5    21.213070  91.353492  7.817846  112.983436       orange
1646  108   94   47    27.359116  84.546250  6.387431   90.812505       banana
1647   11   36   31    27.920633  51.779659  6.475449  100.258567        mango
1648   11  124  204    13.429886  80.066340  6.361141   71.400430       grapes
1649   32   78   22    23.970814  62.355576  7.007038   53.409060       lentil

[1650 rows x 8 columns]

In [4]:
# train과 test의 데이터 형태
# Dtype object는 문자열 의미
print(train.shape)
print(test.shape)
train.info()
test.info()

(1650, 8)
(550, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            1650 non-null   int64
 1   P            1650 non-null   int64
 2   K            1650 non-null   int64
 3   temperature  1650 non-null   float64
 4   humidity     1650 non-null   float64
 5   ph           1650 non-null   float64
 6   rainfall     1650 non-null   float64
 7   label        1650 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 103.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            550 non-null    int64
 1   P            550 non-null    int64
 2   K            550 non-null    int64
 3   temperature  550 non-null    float64
 4   humidity     550 non-null    float64
 5   ph           550 non-null    float64
 6   rainfall     550 non-null    float64
dtypes: float64(4), int64(3)
memory usage: 30.2 KB

In [5]:
# drop를 통해 인덱스를 삭제하고 X_train에 넣어주기
#drop은 삭제된 값을 반환하는게 아니라 삭제하고 남은 값을
#반환
# axis =0 행 (가로)
# axis =1 열(세로)
X_train = train.drop(['label'], axis =1)
X_test = test
y_train = train['label']

print(X_train.shape)
print(X_test.shape)
y_train

(1650, 7)
(550, 7)

0         mothbeans
1       pomegranate
2            papaya
3        pigeonpeas
4             apple
           ...
1645         orange
1646         banana
1647          mango
1648         grapes
1649         lentil
Name: label, Length: 1650, dtype: object

In [6]:
from sklearn.neighbors import KNeighborsClassifier
# knn불러오기
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, y_train)
y_test_pred = knn.predict(X_test)
answer['label']= y_test_pred
answer.to_csv('answer.csv', index=False)
answer

      id       label
0      0   muskmelon
1      1  watermelon
2      2      papaya
3      3      papaya
4      4       apple
..   ...         ...
545  545      coffee
546  546      papaya
547  547    chickpea
548  548      coffee
549  549        jute

[550 rows x 2 columns]